*{
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50%;
  grid-auto-rows: 50%;
}

.name {
  font-size: 4rem;
  text-align: center;
  background-color: skyblue;
}

.about{
  background-color: #f4e842;
  font-size: 2rem;
  padding: 10px;
  text-align: justify;
}

.skills {
  text-align: center;
  background-color: coral;
  display: grid;
  grid-template-rows:  70px 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header header header"
                        "ruby rails javascript"
                        "react redux jquery"


}

.contact {
  padding-top: 10px;
  display: flex;
  background-color: #e6e6ff;
  justify-content: space-around;
}

.medium{
  grid-area: medium;
}

.github{
  grid-area: github;
}

.linkedin{
  grid-area: linkedin;
}
#skills-header{
  grid-column: span 2;
  grid-row: 1;
  margin: auto;
  text-align: center;
  grid-area: header;
}

.skill-item {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border: 2px solid black;
}

.skill-item-content{
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  display: block;
}

.ruby {
  grid-area: ruby

}

.rails {
  grid-area: rails
}

.javascript {
  grid-area: javascript
}

.react {
  grid-area: react
}

.redux {
  grid-area: redux;
}

.jquery {
  grid-area: jquery;
}

@media (min-width: 768px){
  .wrapper {
    display: grid;
    grid-template-columns: 1.4fr 2fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 100vh;
  }

  .name {
    font-size: 4rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1;
    background-color: skyblue;
  }

  .skills {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1;
    background-color: coral;
    display: grid;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black
  }
}
